[access]
	inheritFrom = dmaap
[project]
	description = The Data Routing System project is intended to provide a common framework by which data producers can make data available to data consumers and a way for potential consumers to find feeds with the data they require. The interface to DR is exposed as a RESTful web service known as the DR Publishing and Delivery API
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
