cat <<!EOF
# ============LICENSE_START=======================================================
# org.onap.dmaap
# ================================================================================
# Copyright © 2018 AT&T Intellectual Property. All rights reserved.
# ================================================================================
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ============LICENSE_END=========================================================
#
# ECOMP is a trademark and service mark of AT&T Intellectual Property.


log4j.rootLogger=info

#
# Logger used for provisioning events
#
log4j.logger.org.onap.dmaap.datarouter.provisioning.events=info, eventlog
log4j.additivity.org.onap.dmaap.datarouter.provisioning.events=false

log4j.appender.eventlog=org.apache.log4j.DailyRollingFileAppender
log4j.appender.eventlog.file=${DRTR_PROV_LOGS:-/opt/app/datartr/logs}/provevent.log
log4j.appender.eventlog.datePattern='.'yyyyMMdd
log4j.appender.eventlog.append=true
log4j.appender.eventlog.layout=org.apache.log4j.PatternLayout
log4j.appender.eventlog.layout.ConversionPattern=%d %-5p [%t] - %m%n

#
# Logger used for internal provisioning server events
#
log4j.logger.org.onap.dmaap.datarouter.provisioning.internal=debug, intlog
log4j.additivity.org.onap.dmaap.datarouter.provisioning.internal=false

log4j.appender.intlog=org.apache.log4j.DailyRollingFileAppender
log4j.appender.intlog.file=${DRTR_PROV_LOGS:-/opt/app/datartr/logs}/provint.log
log4j.appender.intlog.datePattern='.'yyyyMMdd
log4j.appender.intlog.append=true
log4j.appender.intlog.layout=org.apache.log4j.PatternLayout
log4j.appender.intlog.layout.ConversionPattern=%d %-5p [%t] - %m%n

#
# Logger used for policy engine
#
log4j.logger.org.onap.dmaap.datarouter.authz.impl.ProvAuthorizer=debug, pelog
log4j.additivity.org.onap.dmaap.datarouter.authz.impl.ProvAuthorizer=false

log4j.appender.pelog=org.apache.log4j.DailyRollingFileAppender
log4j.appender.pelog.file=${DRTR_PROV_LOGS:-/opt/app/datartr/logs}/policyengine.log
log4j.appender.pelog.datePattern='.'yyyyMMdd
log4j.appender.pelog.append=true
log4j.appender.pelog.layout=org.apache.log4j.PatternLayout
log4j.appender.pelog.layout.ConversionPattern=%d %-5p [%t] - %m%n

#
# Logger used for Jetty server
#
log4j.logger.org.eclipse.jetty=info, jetty
log4j.additivity.org.eclipse.jetty.server.Server=false

log4j.appender.jetty=org.apache.log4j.DailyRollingFileAppender
log4j.appender.jetty.file=${DRTR_PROV_LOGS:-/opt/app/datartr/logs}/jetty.log
log4j.appender.jetty.datePattern='.'yyyyMMdd
log4j.appender.jetty.append=true
log4j.appender.jetty.layout=org.apache.log4j.PatternLayout
log4j.appender.jetty.layout.ConversionPattern=%d %-5p [%t] - %m%n
!EOF
